@import '../base/variables';
@import '../base/mixins';


.card {
    display: flex;  
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    height: 100%;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    @include small {
        max-width: 600px;
        padding: 0px;
        width: 100%;
        flex-direction: column;
        max-height: 100%;
    }
}

.card_container {
    display: flex;  
    flex-direction: row; 
    @include small {
        padding: 20px;
    }
}

.card_child_container:nth-child(1) {
    width: 50%;
    text-align: center;
    @include small {
        height:  0%;
        width: 0%;
    }
}

.card_child_container:nth-child(2) {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 70%;
    @include small {
        height:  100%;
        width: 100%;
    }
}

.card_logo_container {
    align-self: center;
    height: 100%;
    padding-right: 20px;
    @include small {
        height:  50%;
        width: 50%;
    }
}

.card_logo {
    height:  100%;
    width: 100%;
    object-fit: contain;
    @include small {
        visibility: hidden;
        height:  0%;
        width: 0%;
    }
}

.card_title_container {
    @include small {
        width: 100%;
    }
}

.card_title {
    color: $header_color;
    font-size: $font_size_card_title;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
    @include small {
        font-size: 30px;
 
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.card_snippet_container {
    padding-bottom: 20px;
    @include small {
        padding: 0;
    }
}

.card_snippet {
    color: $span_color_one;
    font-size: $font_size_card_span;
    padding: 0px;
    text-align: center;
    margin: 0px;
    @include small {
        font-size: 15px;
    
        padding-bottom: 20px;
    }
}

.card_button {
    width: 100%;
}
.card_date {
    color: $header_color;
    text-align: end;
}