
$slides-number: 3;
$percentage: 100 / $slides-number;

@keyframes scroll {
  100% { 
    transform: translateX(-66.6666%);  
  }
}

.slider_container {
    direction: rtl;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;    
    cursor: grab;
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 40px;
    border-radius: 30px;
    transform: translate3d(0, 0, 0);
    z-index: 5;
    @include small {
      padding: 20px;
      overflow-x: scroll;
    }
   
  }

.slider_container.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    
}

.slider_inner {
  
}

.slider_animation {
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider_animation:hover {
  animation-play-state: paused;
}

.slider_image_container {
  @include small {
    width: 200px;
    height: 200px;
  }
}

.slider_image {
    border-radius: 30px;
    width: 800px;
    height: 400px;
    object-fit: cover;

    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  
}
  
  .slider_image_container:first-child {
    margin-right: 0px !important;
  }
  .slider_image_container:last-child {
    margin-left: 0px !important;
  }

    // animation: scroll 18s linear infinite;

  // &::after {
	// 	right: 0;
	// 	top: 0;
	// 	transform: rotateZ(180deg);
	// }

	// &::before {
	// 	left: 0;
	// 	top: 0;
	// }