@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

$span_color_one: #FFEADB;
$span_color_two: #679B9B;
$header_color: #FF9A76;

$background_color: #637373;

$font_400: 'Quantico', sans-serif;
$font_size_span: 25px;
$font_size_header: 80px;
$font_size_title: 50px;

