@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');


$span_color_one: #004643;
$span_color_two: #faf4d3;
$header_color: #d1ac00;

$background_color: #001427;

$font_400: 'Quantico', sans-serif;
$font_size_span: 25px;
$font_size_header: 80px;
$font_size_title: 50px;

