@import '../base/variables';


.card {
    display: flex;  
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    height: 100%;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

.card_container {
    display: flex;  
    flex-direction: row; 
}

.card_child_container:nth-child(1) {
    width: 50%;
    text-align: center;

}

.card_child_container:nth-child(2) {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.card_logo_container {
    align-self: center;
    height: 100%;
    padding-right: 20px;
}

.card_logo {
    height:  100%;
    width: 100%;
    object-fit: contain;
}

.card_title_container {
   
}

.card_title {
    color: $header_color;
    font-size: $font_size_card_title;
    padding: 0px;
    margin: 0px;
    padding-bottom: 20px;
}

.card_snippet_container {
 padding-bottom: 20px;
}

.card_snippet {
    color: $span_color_one;
    font-size: $font_size_card_span;
    padding: 0px;
    margin: 0px;
}

.card_date {
    color: $header_color;
    text-align: end;
}

/*POPUP*/

.card_pop_up_toolbar {
    display: flex;
    justify-content: end;
}

.card_pop_up_link_container {

}

.card_pop_up_link {
    font-size: 50px;
    justify-content: center;
    color: $icon_color
}

.card_pop_up_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 30px;
}

.card_pop_up_header_child {
    display: flex;

    flex-direction: column;
}

.card_pop_up_title_container {
    display: flex;

    flex-direction: row;

}

.card_pop_up_title {
    color: $header_color;
    font-size: $font_size_title;
    padding: 0px;
    margin: 0px;
}

.card_pop_up_image_container {
    display: flex;
}

.card_pop_up_description {
 font-size: $font_size_span_pop_up
}

.card_pop_up_technologies_container {
    margin-top: $margin_size_child;
}

.card_pop_up_technologies_title { 
    color: $header_color;
    font-size: $font_size_card_title;
}

.card_pop_up_technologies {
    color: $span_color_two;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
 
}

.card_pop_up_technologies_span {
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: $font_size_card_span;
    color: $span_color_one;
}