@import '../base/variables';



.card {
    display: flex;  
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.1);;
    padding: 30px;
    border-radius: 10px;
}

.card_image_container {
    display: flex;
}

.card_info_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px
}

.card_info_sub_container {
    display: flex;
    flex-wrap: wrap;
}

.card_info_sub_container_title {
    width: 50%;
}

.card_title {
    color: $header_color;
}

.card_info_sub_container_date {
    width: 50%;
    
}

.card_date {
    color: $header_color;
    text-align: end;
}

.card_info_container_div_one {
    
}

.card_info_container_div_two {
    margin-top: auto;
    margin-bottom: 15px;
}

.card_image {

}

.card_description {
    color: $span_color_one
}

.card_technologies {
    color: $span_color_two;
    display: flex;
    flex-wrap: wrap;
   
}

.card_technologies_span {
    padding: 4px;
    
}