@import '../base/variables';

.form {


}

.form_child_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.form_label {
    padding-bottom: 15px;
    color: $span_color;
}

.form_input {
    color: $span_color;
    min-width: 350px;
    min-height: 30px;
}
