@import '../base/variables';

.form {
    display: flex;
    flex-direction: column;
}

.form_child_container {
    display: flex;
    justify-content: space-between;
}

.form_label {
    padding-bottom: 15px;
    color: $span_color;
}

.form_input {

}
