@import "../base/variables";

.header_link {
    text-decoration: none;
    color: $span_color_one;
    padding: 10px;
}

.header_link_logo {
    width: 50vw;
    justify-content: start;

}

.header_link_logo_style {
    height: 75px;
    width: 75px;
}