@import "../base/variables";

.introduction_text {
    color: $span_color_one;
    font-size: $font_size_span;
}

.about_text {
    color: $span_color_one;
    font-size: $font_size_span;
}

.contact_text {
    color: $span_color_one;
    font-size: $font_size_span;
}