@import "../base/variables";

.pop_up {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: height .4s, opacity 0.45s, visibility 1.5s;
   
}

.pop_up_inner {
    position: relative;
    padding: 32px;
    background-color: $background_color;
    width: 80vw;
    overflow: scroll;
   
}

.close_pop_up_icon {
    font-size: 60px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.open_pop_up {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

.close_pop_up {
    height: 0%;
    opacity: 0;
    visibility: hidden;
}