.introduction_container {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}

.about_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}

.projects_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}

.contact_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 0 auto;
}