#header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header > nav {
    width: 50%;
}

#header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
}
