@import '../base/variables';

* {
    scrollbar-color: $header_color #2E3645 !important;
}
.root {
    background: $background_color;
    font-family: $font_400;
    margin: 0px;
    padding: 0px;
    
}



body {
    padding: 0px;
    margin: 0px;
}
