@import '../base/mixins';
@import '../base/variables';

.introduction_container {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 150px;
    @include small {
        padding-right: 30px;
        padding-left: 30px;
        max-width: 80vw;
    }
    
}

.projects_container {
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    @include small {
   
     
    }
}

.projects_container_child {
    display: flex;
    justify-content: space-between;
    @include small {
        flex-direction: column;
        width: 100%;
    }
}

.hyperModalWrapper___2sZCR .hyperModalContentWrapper___1o7Ug {
    height: 100% !important;
    width: 100% !important;
    background-color: black !important;
}

.hyperCloseIconWrapper___ujoQX {
    height: 50px !important;
    width: 50px  !important;
}

.hyperCloseIcon___14vht {
    background-image: url("https://img.icons8.com/fluency/96/000000/close-window.png") !important;
    font-size: 35px  !important;
}
