@import '../base/mixins';

.introduction_container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 150px;
    @include small {
        max-width: 600px;
        padding: 30px;
    }
}

.projects_container {
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    @include small {
        max-width: 600px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    @include small {
        max-width: 600px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
}