@import '../base/mixins';
@import '../base/variables';

.introduction_container {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 150px;
    @include small {
        max-width: 600px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
}

.projects_container {
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    @include small {
        max-width: 600px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.hyperModalWrapper___2sZCR .hyperModalContentWrapper___1o7Ug {
    height: 100% !important;
    width: 100% !important;
    background-color: #083D77 !important;
}

.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    @include small {
        max-width: 600px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;
    }
}