@import "../base/variables";

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

#header > nav {
    width: 50%;
}

#header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
}

.header_introduction_title {
    font-size: $font_size_header;
    color: $header_color;
    margin: 0px;
}

.header_title {
    font-size: $font_size_title;
    color: $header_color;
    margin: 0px;
    text-decoration: underline;
    margin-bottom: 40px;
    margin-top: 40px;
    @include small {
        min-height: 50px;
        font-size: 50px;
    }
}