@import "../base/variables";
@import "../base/mixins";

.introduction_button_container {
    display: flex;
    align-items: baseline;
    justify-items: center;
    @include small {
        justify-content: center;
        flex-direction: column;
    }
}

.introduction_button_container > div {
    margin-right: 40px;
    @include small {
        margin-right: 0px;
        width: 100% !important;
    }
}

.introduction_button_container > a {
    margin-right: 40px;
    @include small {
        margin-right: 0px;
    }
}

.introduction_button_group2 {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    @include small {
        justify-content: space-around;
    }
}

.introduction_button_child {
    font-size: 30px;  
    border: 2px solid black;
    padding: 10px;
}

.introduction_button_child > a {
    text-decoration: none;
    
}

.introduction_button_span {
    margin: 0;
    @include small {
        width: 100% !important;
    }
}

.introduction_icon_child {
    font-size: 40px; 
    margin-right: 25px;
    @include small {
        margin-right: 0;
    }
}

.introduction_icon_child a {
    vertical-align: sub;
    vertical-align: -moz-middle-with-baseline;
    color: $icon_color;
}

.introduction_icon_child:last-child a{
    color: $icon_color;
}