@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

/*PAGE LAYOUT*/
$span_color_one: #FFFC31;
$span_color_two: #CD5334;
$header_color: #FFFAFF;
$icon_color: #F6F7EB;
$button_color: #F6F7EB;
//26C485
$background_color: #2E282A;

$error_color: orange;
/*FONT SIZES*/
$font_400: 'Quantico', sans-serif;
$font_size_span: 20px;
$font_size_span_pop_up: 29px;
$font_size_header: 70px;
$font_size_title: 50px;

$font_size_card_title: 23px;
$font_size_card_span: 14px;

$margin_size_child: 2rem;
$margin_size_parent: 5rem;

/*SCREEN SIZE */
$lg: 1050px;