@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

/*PAGE LAYOUT*/
$span_color_one: #EEEEEE;
$span_color_two: white;
$header_color: #BBE1FA;
$icon_color: #3282B8;
$button_color: #3282B8;
//26C485
$background_color: linear-gradient(180deg, rgba(15,4,76,1) 34%, rgba(0,24,115,1) 100%);

$error_color: orange;
/*FONT SIZES*/
$font_400: 'Quantico', sans-serif;
$font_size_span: 25px;
$font_size_span_pop_up: 29px;
$font_size_header: 70px;
$font_size_title: 50px;

$font_size_card_title: 23px;
$font_size_card_span: 14px;

$margin_size_child: 2rem;
$margin_size_parent: 5rem;

/*SCREEN SIZE */
$lg: 1050px;